<div class="container-fluid mt-4">
  <p class="h3">Accounts and Wallets</p>
  <div class="row">
    <div class="col-12">
      <div appWrapper>
        <div class="row mb-4">
          <app-account-section
            [config]="accountsTableConfig"
            [accountType]="accountType.Bank"
            title="Bank Account (API)"
            modalText="Add Bank Account"
          />
        </div>
        <div class="row">
          <app-account-section
            [config]="walletsTableConfig"
            [accountType]="accountType.Wallet"
            title="Wallets"
            modalText="Add Wallet"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<app-accounts-form />