<button
  class="btn btn-sm"
  type="button"
  id="dropdownMenuButton"
  data-bs-toggle="dropdown"
  aria-expanded="false"
>
  <i class="bi bi-three-dots"></i>
</button>
<ul
  class="dropdown-menu shadow-sm rounded border"
  aria-labelledby="dropdownMenuButton"
>
  <li>
    <button class="dropdown-item x-small" (click)="onClick(actionsType.Edit)">
      Edit
    </button>
  </li>
  <li>
    <button class="dropdown-item x-small" (click)="onClick(actionsType.Delete)">
      Delete
    </button>
  </li>
</ul>
