<div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <p class="h4 p-0 m-0">Budgets</p>
    <button mat-button class="btn-sm" (click)="openBudgetDialog()">
      <i class="bi bi-plus-circle-dotted p-1"></i> Add Budget
    </button>
  </div>

  @if (budgetList().length) {
  <table
    mat-table
    [dataSource]="budgetList()"
    class="mat-elevation-z8 shadow-sm"
  >
    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef>Category name</th>
      <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
    </ng-container>
    <ng-container matColumnDef="plannedAmount">
      <th mat-header-cell *matHeaderCellDef>Planned Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.plannedAmount }}</td>
    </ng-container>
    <ng-container matColumnDef="actualExpenses">
      <th mat-header-cell *matHeaderCellDef>Actual Expenses</th>
      <td mat-cell *matCellDef="let element">{{ element.actualExpenses }}</td>
    </ng-container>
    <ng-container matColumnDef="difference">
      <th mat-header-cell *matHeaderCellDef>Difference</th>
      <td mat-cell *matCellDef="let element">{{ element.difference }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span class="badge rounded-pill p-2" [class]="element.status.type">
          {{ element.status.label }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let element">
        <app-row-options
          [id]="element.id"
          (rowAction)="handleRowAction($event)"
        ></app-row-options>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="table-light border-sm"
    ></tr>
  </table>
  } @else {
  <app-no-data message="The list is empty."/>
  }
</div>
