<h2 mat-dialog-title>{{data.title}}r</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label x-small text-muted mb-1">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" />
      @if (form.get('name')?.invalid && form.get('name')?.touched)
      {
      <div class="text-danger x-small fw-bold">Name is required</div>
      }
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label x-small text-muted mb-1"
        >Amount</label
      >
      <input
        type="number"
        id="amount"
        class="form-control"
        formControlName="amount"
      />
      @if (form.get('amount')?.invalid &&
      form.get('amount')?.touched) {
      <div class="text-danger x-small fw-bold">Amount is required</div>
      }
    </div>
    <div class="mb-3">
      <label for="currency" class="form-label x-small text-muted mb-1"
        >Currency</label
      >
      <select id="currency" class="form-select" formControlName="currency">
        <option value="">Select currency</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="PLN">PLN</option>
      </select>
      @if (form.get('currency')?.invalid &&
      form.get('currency')?.touched) {
      <div class="text-danger x-small fw-bold">Currency is required</div>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="cancel">Anuluj</button>
  <button mat-button (click)="onSave()" mat-dialog-close="save">Zapisz</button>
</mat-dialog-actions>
