@if(isLoading()) {
<app-spinner [isFullscreen]="true" />
}

<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" [formControl]="form.controls.name" />
    @if (form.get('name')?.invalid && form.get('name')?.touched) {
    <mat-error>Name is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput type="number" [formControl]="form.controls.balance" />
    @if (form.get('balance')?.invalid && form.get('balance')?.touched) {
    <mat-error>Amount is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <mat-select [formControl]="form.controls.currency">
      <mat-option value="">Select currency</mat-option>
      <mat-option value="USD">USD</mat-option>
      <mat-option value="EUR">EUR</mat-option>
      <mat-option value="PLN">PLN</mat-option>
    </mat-select>
    @if (form.get('currency')?.invalid && form.get('currency')?.touched) {
    <mat-error>Currency is required</mat-error>
    }
  </mat-form-field>

  <mat-checkbox [formControl]="form.controls.isMainAccount">
    Set as Main Account
  </mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="cancel">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
