.no-data-container {
  padding: 40px;
  border-radius: 12px;
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.no-data-icon {
  font-size: 4rem;
  color: #adb5bd;
}

.no-data-text {
  margin-top: 20px;
  font-weight: 500;
}
