<app-modal>
  <form [formGroup]="accountsForm" #formElement (submit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label x-small text-muted mb-1">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />
      @if (accountsForm.get('name')?.invalid &&
      accountsForm.get('name')?.touched) {
      <div class="text-danger x-small fw-bold">Name is required</div>
      }
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label x-small text-muted mb-1"
        >Amount</label
      >
      <input
        type="number"
        id="amount"
        class="form-control"
        formControlName="amount"
      />
      @if (accountsForm.get('amount')?.invalid &&
      accountsForm.get('amount')?.touched) {
      <div class="text-danger x-small fw-bold">Amount is required</div>
      }
    </div>
    <div class="mb-3">
      <label for="currency" class="form-label x-small text-muted mb-1"
        >Currency</label
      >
      <select id="currency" class="form-select" formControlName="currency">
        <option value="">Select currency</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="PLN">PLN</option>
      </select>
      @if (accountsForm.get('currency')?.invalid &&
      accountsForm.get('currency')?.touched) {
      <div class="text-danger x-small fw-bold">Currency is required</div>
      }
    </div>
  </form>
</app-modal>
