<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="userName" />

      @if(form.get('userName')?.invalid && form.get('userName')?.touched) {
      <mat-error>Username is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="userPassword" />

      @if(form.get('userPassword')?.invalid &&
      form.get('userPassword')?.touched) {
      <mat-error>Password is required.</mat-error>
      }
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    color="primary"
    class="full-width"
    type="button"
    (click)="onSubmitBtnClick()"
  >
    Login
  </button>

  <a
    mat-stroked-button
    color="accent"
    class="full-width register-btn"
    routerLink="/register"
  >
    Create an account
  </a>
</div>
