<div>
  <div class="d-flex justify-content-between">
    <span class="fs-xs text-muted">{{itemData()?.category}}</span>
    <span class="fs-xs text-muted">{{itemData()?.amount | currency: itemData()?.currency : 'symbol' : '2.2-2' :
      'fr'}}</span>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" [class]="itemData()?.progressColor"
      [style.width.%]="itemData()?.progress" [attr.aria-valuenow]="itemData()?.progress" aria-valuemin="0"
      aria-valuemax="100">{{itemData()?.spent }}</div>
  </div>
</div>