<div>
  <div class="d-flex justify-content-between">
    <span class="x-small text-muted">{{ itemData.category }}</span>
    <span
      class="x-small text-muted"
      appCurrencyValue
      [value]="itemData.amount"
      [currencyCode]="itemData.currency || 'PLN'"
    ></span>
  </div>
  <div class="progress">
    <div
      class="progress-bar xx-small"
      role="progressbar"
      [style.backgroundColor]="itemData.progressColor"
      [style.width.%]="itemData.progress"
      [attr.aria-valuenow]="itemData.progress"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ itemData.spent }}
    </div>
  </div>
</div>
