/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.x-small {
  font-size: 0.75em;
}

.xx-small {
  font-size: 0.72em;
}

// Table
.mdc-data-table__table {
  --mat-table-background-color: #fff;
  --mat-app-elevation-shadow-level-8: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

// Pagination
.mat-mdc-paginator {
  --mat-paginator-container-background-color: #FFF;
}

// Mat-dialog
.mat-mdc-dialog-container.mdc-dialog {
  width: 500px;
  min-width: 400px; 
  max-width: 90vw; 
  height: auto; 
  min-height: 300px; 
  max-height: 80vh; 
  padding: 24px;
  border-radius: 12px;
}

// colors
.green-icon {
  color: #4CAF50;  
}

.red-icon {
  color: red; 
}

.container-fluid {
  max-width: 1400px;
}