<div class="container mt-5">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
      />
      @if (registerForm.get('username')?.invalid &&
      registerForm.get('username')?.touched) {
      <div class="text-danger">Username is required.</div>
      }
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
      @if (registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched) {
      <div class="text-danger">
        Password is required and must be at least 6 characters.
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
      />
      @if (registerForm.get('confirmPassword')?.invalid &&
      registerForm.get('confirmPassword')?.touched) {
      <div class="text-danger">Passwords must match.</div>
      }
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
    @if (errorMessage) {
    <div class="text-danger mt-3">{{ errorMessage }}</div>
    }
  </form>
  <p class="mt-3">Back to login page <a routerLink="/login">Login</a></p>
</div>
