@if(isLoading()) {
<app-spinner />
} @else if (transactionsList().length) {
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by date"
    >
      Date
    </th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Title
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="accountLabel">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by account"
    >
      Account
    </th>
    <td mat-cell *matCellDef="let element">{{ element.accountLabel }}</td>
  </ng-container>

  <ng-container matColumnDef="categoryLabel">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by category"
    >
      Category
    </th>
    <td mat-cell *matCellDef="let element">{{ element.categoryLabel }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by amount"
    >
      Amount
    </th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by type"
    >
      Type
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        [ariaLabel]="element.type"
        [color]="element.type === transactionType.Income ? 'primary' : 'warn'"
      >
        {{
          element.type === transactionType.Income
            ? 'add_circle_outline'
            : 'remove_circle_outline'
        }}
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">
      <app-row-options
        [id]="element.id"
        (rowAction)="handleRowAction($event)"
      ></app-row-options>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 20, 50]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
} @else {
<app-no-data message="The list is empty." />
}
