<div class="container-fluid mt-4">
  <p class="h3">Dashboard</p>
  <app-wrapper>
    <div class="row">
      <div class="col-12 col-lg-3 px-0">
        @for (card of financialCards; track $index) {
        <app-financial-card [icon]="card.icon" [title]="card.title" [value]="card.value" />
        }
      </div>
      <div class="col-12 col-lg-4 p-3">
        <app-budgets />
      </div>
      <div class="col-12 col-lg-5 p-3">
        <app-accounts-list />
      </div>
    </div>
  </app-wrapper>
</div>